.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 92px 50px 92px 50px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  color: #000;
  font-size: 18px;
  letter-spacing: 0.01em;
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__link_active {
  border-bottom: 0;
  letter-spacing: 0;
}

.header_logo img {
  width: 148px;
  height: 105px;
}

.address {
  width: 240.52px;
  height: 98px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
}

.address a {
  border-bottom: 1px solid #000;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  margin: 0 50px 128px 50px;
  padding-top: 165px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: normal;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  padding-top: 12px;
  text-align: center;
}

.aligned-text_right {
  padding-top: 5px;
  text-align: right;
}

.cover__title .aligned-text .letter-spacing-extended {
  letter-spacing: 0.6em;
}
.cover__title .aligned-text .no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 50px 78px;
  color: #fff;
  text-transform: uppercase;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  letter-spacing: normal;
  word-spacing: 19px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  background: transparent;
}

.bet-button-text {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.lots {
  padding: 180px 24px 180px 24px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  border-bottom: 1px solid #000;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  column-gap: 25px;
  padding: 0 24px 181px 24px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column-right {
  grid-column: 2/4;
}

.about__title {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: start;
  margin: 0 50px 88px 50px;
}

.footer__menu-list {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: 0;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
