/* место для вашего кода */

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

/* TODO скорректировать расстояние между пунктами меню 
- замерить Pixel Perfect Plugin и подгонка через инструменты разработчика.*/

.header__links-list {
  display: flex;
  gap: 25px;
  color: #000;
  font-size: 18px;
  letter-spacing: 0.01em;
  list-style: circle;
}

.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link_active {
  letter-spacing: 0;
  text-decoration-style: none;
}

.address {
  width: 240.52px;
  height: 98;
  color: #000;
  font-size: 18px;
  line-height: 135%;
}

.address a {
  letter-spacing: 0.01em;
}
.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  position: relative;
  margin: 0 50px 135px 50px;
  padding-top: 165px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

.cover__title .aligned-text .letter-spacing-extended {
  letter-spacing: 0.6em;
}
.cover__title .aligned-text .no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 50px 78px;
  color: #fff;
  text-transform: uppercase;
}

.cover__description-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  letter-spacing: normal;
  word-spacing: 14px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  background: transparent;
}

.bet-button-text {
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

.lots {
  padding: 179px 24px 181px 24px;
}

.lots__heading {
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.card-link {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 51px 40px 48px 40px;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  z-index: 1;
}

.card__text {
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  margin-top: 30px;
  margin-left: 40px;
}